{% extends 'base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa explicabo rem ullam iure magni? A hic quia, similique sapiente accusantium, veritatis aspernatur temporibus ad error incidunt minus, alias deserunt?</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum, reiciendis?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus aspernatur commodi deserunt numquam iure, quasi voluptas expedita unde repudiandae quia.</p>
{% endblock %}