{% extends 'base.html' %}

{% block content %}

<h1 class="text-5xl font-bold mb-8">Projects</h1>
<form method="POST">
    {% csrf_token %}
    <div class="text-2xl w-1/3 mx-auto text-center">
        {% block new_project %}
            <div>{{form.name.label_tag}}</div>
            <div>{{form.name}}</div>
        {% endblock %}
        <button class="mt-5 text-xl font-semibold bg-lime-700 px-6 py-2 rounded-3xl hover:bg-amber-200 hover:text-lime-700 ">
            Create Project
        </button>
    </div>
</form>
<div class="my-14">
    {% for project in projects %}
        <a class="" href="/projects/{{ project.id }}""><div class="w-1/3 mx-auto mb-2 p-4 rounded-xl bg-lime-950 hover:bg-lime-700">{{project.name}}</div></a>
    {% endfor %}
</div>

{% endblock %}